<section class="section section--overflow-h section--pd-1 order">
  <picture class="order__bg picture picture-bg picture-bg--zindex-0">
    <source srcset="img/order/map-bg.avif" type="image/avif">
    <img src="img/order/map-bg.jpg" loading="lazy" alt="Фоновое изображение">
  </picture>
  <div class="section__wrapper">
    <div class="order__wrapper">
      <div class="container">
        <div class="order__content">
          <div class="order__heading">
            <h2 class="h2 order__title text-uppercase">Оформление <span class="text-blue">Заказа</span></h2>
            <p class="order__subtitle">Перед заполнением формы ознакомьтесь с&nbsp;нашей схемой работы!</p>
          </div>
          {{> components/scheme}}
          <form id="myForm" class="order__form form" action="#">
            <div class="order__form-row">
              <div class="order__form-item">
                <div class="select-custom" data-select-custom>
                  <button class="select-custom__trigger" type="button" data-trigger="Выберите тип системы"></button>
                  <ul class="select-custom__options simplebar" data-options>
                    <li class="select-custom__option" data-value="Sed ut perspiciatis"></li>
                    <li class="select-custom__option" data-value="Nemo enim ipsam"></li>
                    <li class="select-custom__option" data-value="Et harum quidem"></li>
                    <li class="select-custom__option" data-value="Temporibus autem"></li>
                    <li class="select-custom__option" data-value="Itaque earum rerum"></li>
                    <li class="select-custom__option" data-value="Itaque earum rerum"></li>
                    <li class="select-custom__option" data-value="Itaque earum rerum"></li>
                    <li class="select-custom__option" data-value="Itaque earum rerum"></li>
                  </ul>
                </div>
              </div>
              <div class="order__form-item">
                <label class="label" for="email">
                  <input id="email" class="input" type="email" placeholder="Ваш e-mail">
                </label>
              </div>
              <div class="order__form-item">
                <label class="label" for="name">
                  <input id="name" class="input" type="name" placeholder="Ваше имя">
                </label>
              </div>
            </div>
            <div class="order__form-row">
              {{> components/range}}
              <div class="form__file">
                <label class="label label--file" for="file">
                  <input id="file" class="input input--file" type="file"
                    accept=".jpg, .jpeg, .png, .gif, .bmp, .doc, .docx, .xls, .xlsx, .txt, .tar, .zip, .7z, .7zip"
                    multiple>
                  {{> ui/svg id="paper"}}
                  <span class="text-uppercase">Прикрепить файл</span>
                </label>
              </div>
            </div>
            {{> ui/button text="Отправить" className="text-uppercase" size="long" type="submit"}}
          </form>
        </div>
      </div>
    </div>
  </div>
</section>