.scheme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
  margin: 0 auto;

  @include min-width($breakpoint-md) {
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    padding: 0 56px;
    margin: 0 auto 65px;
  }

  &__dotes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
    padding: 12px 0;

    @include min-width($breakpoint-md) {
      flex-direction: row;
      gap: 0;
      justify-content: space-between;
      padding: 0 12px;
    }

    @include min-width($breakpoint-lg) {
      padding: 0 16px;
    }

    svg {
      width: 6px;
      min-width: 6px;
      height: 6px;
      min-height: 6px;

      @include min-width($breakpoint-lg) {
        width: 6px;
        min-width: 6px;
        height: 6px;
        min-height: 6px;
      }
    }
  }
}
