<section class="section hero">
  <div class="section__wrapper">
    <div class="hero__wrapper">
      <div class="container">
        <div class="hero__content">
          <h1 class="h1">Lorem ipsum dolor sit amet consectetur adipiscing</h1>
          <button class="button text-uppeercase">sds</button>
        </div>
      </div>
    </div>
  </div>
</section>
