<div class="mobile-menu" data-mobile-menu>
  {{> ui/button mode="null" icon="close" className="mobile-menu__close" data="data-close-mobile-menu"}}
  {{> components/nav mobileMenu="mobile"
  link1="#"
  name1="Бизнес"
  link2="#"
  name2="О нас"
  link3="#"
  name3="Цены"
  link4="#"
  name4="Оформить заказ"}}
</div>