<div class="range" data-range>
  <div class="range__head">
    <span class="range__text">Sed ut perspiciatis, unde omnis iste natus</span>
    <span id="range-value" class="range__value" data-num-id="num"></span>
  </div>
  <div id="range-rail" class=""></div>
</div>