<div class="scheme">
  <div class="scheme__item">
    {{> components/scheme-item text="Lorem ipsum dolor sit amet" icon="search"}}
  </div>
  <div class="scheme__dotes">
    {{> ui/svg id="dot"}}
    {{> ui/svg id="dot"}}
    {{> ui/svg id="dot"}}
    {{> ui/svg id="dot"}}
    {{> ui/svg id="dot"}}
  </div>
  <div class="scheme__item">
    {{> components/scheme-item text="Сonsecteturadipiscing elit" icon="percent"}}
  </div>
  <div class="scheme__dotes">
    {{> ui/svg id="dot"}}
    {{> ui/svg id="dot"}}
    {{> ui/svg id="dot"}}
    {{> ui/svg id="dot"}}
    {{> ui/svg id="dot"}}
  </div>
  <div class="scheme__item">
    {{> components/scheme-item text="Sed do eiusmod tempor" icon="file"}}
  </div>
  <div class="scheme__dotes">
    {{> ui/svg id="dot"}}
    {{> ui/svg id="dot"}}
    {{> ui/svg id="dot"}}
    {{> ui/svg id="dot"}}
    {{> ui/svg id="dot"}}
  </div>
  <div class="scheme__item">
    {{> components/scheme-item text="Esse cillum dolore eu fugiat" icon="message"}}
  </div>
  <div class="scheme__dotes">
    {{> ui/svg id="dot"}}
    {{> ui/svg id="dot"}}
    {{> ui/svg id="dot"}}
    {{> ui/svg id="dot"}}
    {{> ui/svg id="dot"}}
  </div>
  <div class="scheme__item">
    {{> components/scheme-item text="Excepteur sint occaecat cupidatat non proident" icon="money"}}
  </div>
</div>