<!DOCTYPE html>
<html data-theme="light" class="page page--{{ title }}" {{#if isDev }} data-dev {{/if}}>
  <head>
    {{> layouts/head }}

    <title>{{ title }}</title>
  </head>
  <body>
    <div class="content">
      {{> layouts/header }}

      <main>
        <!-- example -->
        <section class="example-section">
          <div class="container">
            <div class="example">
              <div class="example__wrap">
                <div class="example__header">
                  <h1 class="example__title">
               aaaaaaaaaaaaa
                  </h1>

                </div>

                <div class="example__body">

				  </div>
                </div>

                <div class="example__footer"> </div>
              </div>
            </div>
          </div>
          <!-- ./ End of container -->
        </section>
        <!-- ./ End of example -->
      </main>

      {{> layouts/footer }}
    </div>

    {{> layouts/modals }}
  </body>
</html>
