<!DOCTYPE html>
<html>
  <head>
    {{> layouts/head }}

    <title>{{ title }}</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
        {{> layouts/header }}
        <main>
          <!-- section hero -->
          {{> components/mobile-menu }}
          {{> pages/main/hero }}
          {{> pages/main/order }}
          <!-- End section hero -->
        </main>
      </div>
      {{> layouts/footer }}
    </div>
    {{> layouts/modals }}
  </body>
</html>
