<!DOCTYPE html>
<html data-theme="light" class="page page--{{ title }}">
  <head>
    {{> layouts/head }}

    <title>{{ title }}</title>

    <style>
      .sitemap-section .container > div > div:not(:last-child) {
        margin-bottom: 2rem;
      }

      table {
        width: 100%;
        table-layout: fixed;
      }

      table:not(:last-child) {
        margin-bottom: 2rem;
      }

      table td,
      table th {
        padding: 10px;
        vertical-align: top;
      }

      table td {
        border: 1px dashed var(--gray-100);
      }

      table td > div:not(:last-child) {
        margin-bottom: 5px;
      }

      table td > div .button {
        width: 100%;
        margin: 0;
      }

      table td > div .button-icon {
        width: auto;
      }

      table td > .input-wrapper {
        margin: 0;
      }

      table td > .dropdown {
        margin: 0;
      }

      table td > .select {
        margin: 0;
      }

      table td > .select.select--flat {
        width: auto;
      }
    </style>
  </head>

  <body>
    <div class="content">
      {{> layouts/header }}

      <main>
        <section class="sitemap-section">
          <div class="container">
            <div>
              <!-- Typography -->
              <div>
                <h2 style="text-align: center"> Typography </h2>

                <div style="margin: 20px">
                  <h1 class="h1">Title H-1</h1>
                  <h2 class="h2">Title H-2</h2>
                  <h3 class="h3">Title H-3</h3>
                  <h4 class="h4">Title H-4</h4>
                  <h5 class="h5">Title H-5</h5>
                  <h6 class="h6">Title H-6</h6>
                </div>

                <div style="margin: 20px">
                  <h1 class="h2">Title H-1 (H-2)</h1>
                  <h2 class="h3">Title H-2 (H-3)</h2>
                  <h3 class="h4">Title H-3 (H-4)</h3>
                  <h4 class="h5">Title H-4 (H-5)</h4>
                  <h5 class="h6">Title H-5 (H-6)</h5>
                  <h6 class="h6">Title H-6 (H-6)</h6>
                </div>
              </div>

              <!-- buttons -->
              <div>
                <h2 style="text-align: center"> Buttons </h2>

                <table>
                  <caption> <h3> Размер </h3> </caption>

                  <thead>
                    <tr>
                      <th> Здоровая </th>

                      <th> Большая </th>

                      <th> Средняя </th>

                      <th> Стандартная </th>

                      <th> Маленькая </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>
                        <button class="button button--large" type="button">
                          <svg>
                            <use xlink:href="svg/sprite.svg#arrow-right"></use>
                          </svg>

                          <span> Large button 64 </span>
                        </button>
                      </td>

                      <td>
                        <button class="button button--big" type="button">
                          <svg>
                            <use xlink:href="svg/sprite.svg#arrow-right"></use>
                          </svg>

                          <span> Big button 56 </span>
                        </button>
                      </td>

                      <td>
                        <button class="button button--middle" type="button">
                          <svg>
                            <use xlink:href="svg/sprite.svg#arrow-right"></use>
                          </svg>

                          <span> Middle button 48 </span>
                        </button>
                      </td>

                      <td>
                        <button class="button" type="button">
                          {{> ui/svg id="arrow-right" }}

                          <span> Small button 40 </span>
                        </button>
                      </td>

                      <td>
                        <button class="button button--small" type="button">
                          <svg>
                            <use xlink:href="svg/sprite.svg#arrow-right"></use>
                          </svg>

                          <span> Small button 32 </span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <table>
                  <caption> <h3> Стили </h3> </caption>

                  <thead>
                    <tr>
                      <th width="200px"> Стиль </th>

                      <th> Стандартная </th>

                      <th> Наведение </th>

                      <th> Нажата </th>

                      <th> Не активна </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td> Solid button </td>

                      <td>
                        <div>
                          <button class="button" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> solid button 40 </span>
                          </button>
                        </div>

                        <div>
                          <button class="button button-icon button-icon--prev" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button class="button button-icon button-icon--next" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button-icon button-icon--circle button-icon--prev"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button-icon button-icon--circle button-icon--next"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>

                      <td>
                        <div>
                          <button class="button hover" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> solid button 40 </span>
                          </button>
                        </div>

                        <div>
                          <button class="button button-icon button-icon--prev hover" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button class="button button-icon button-icon--next hover" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button-icon button-icon--circle button-icon--prev hover"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button-icon button-icon--circle button-icon--next hover"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>

                      <td>
                        <div>
                          <button class="button pressed" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> solid button 40 </span>
                          </button>
                        </div>

                        <div>
                          <button
                            class="button button-icon button-icon--prev pressed"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button-icon button-icon--next pressed"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button-icon button-icon--circle button-icon--prev pressed"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button-icon button-icon--circle button-icon--next pressed"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>

                      <td>
                        <div>
                          <button disabled class="button" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> solid button 40 </span>
                          </button>
                        </div>

                        <div>
                          <button
                            disabled
                            class="button button-icon button-icon--prev"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            disabled
                            class="button button-icon button-icon--next"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            disabled
                            class="button button-icon button-icon--circle button-icon--prev"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            disabled
                            class="button button-icon button-icon--circle button-icon--next"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td> Solid button 2 </td>

                      <td>
                        <div>
                          <button class="button button--primary-2" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> Solid button 2 40 </span>
                          </button>
                        </div>

                        <div>
                          <button
                            class="button button--primary-2 button-icon button-icon--prev"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--primary-2 button-icon button-icon--next"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--primary-2 button-icon button-icon--circle button-icon--prev"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--primary-2 button-icon button-icon--circle button-icon--next"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>

                      <td>
                        <div>
                          <button class="button button--primary-2 hover" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> Solid button 2 40 </span>
                          </button>
                        </div>

                        <div>
                          <button
                            class="button button--primary-2 button-icon button-icon--prev hover"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--primary-2 button-icon button-icon--next hover"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--primary-2 button-icon button-icon--circle button-icon--prev hover"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--primary-2 button-icon button-icon--circle button-icon--next hover"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>

                      <td>
                        <div>
                          <button class="button button--primary-2 pressed" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> Solid button 2 40 </span>
                          </button>
                        </div>

                        <div>
                          <button
                            class="button button--primary-2 button-icon button-icon--prev pressed"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--primary-2 button-icon button-icon--next pressed"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--primary-2 button-icon button-icon--circle button-icon--prev pressed"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--primary-2 button-icon button-icon--circle button-icon--next pressed"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>

                      <td>
                        <div>
                          <button disabled class="button button--primary-2" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> Solid button 2 40 </span>
                          </button>
                        </div>

                        <div>
                          <button
                            disabled
                            class="button button--primary-2 button-icon button-icon--prev"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            disabled
                            class="button button--primary-2 button-icon button-icon--next"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            disabled
                            class="button button--primary-2 button-icon button-icon--circle button-icon--prev"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            disabled
                            class="button button--primary-2 button-icon button-icon--circle button-icon--next"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td> Secondary button </td>

                      <td>
                        <div>
                          <button class="button button--secondary" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> Secondary button 40 </span>
                          </button>
                        </div>

                        <div>
                          <button
                            class="button button--secondary button-icon button-icon--prev"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary button-icon button-icon--next"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary button-icon button-icon--circle button-icon--prev"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary button-icon button-icon--circle button-icon--next"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>

                      <td>
                        <div>
                          <button class="button button--secondary hover" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> Secondary button 40 </span>
                          </button>
                        </div>

                        <div>
                          <button
                            class="button button--secondary button-icon button-icon--prev hover"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary button-icon button-icon--next hover"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary button-icon button-icon--circle button-icon--prev hover"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary button-icon button-icon--circle button-icon--next hover"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>

                      <td>
                        <div>
                          <button class="button button--secondary pressed" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> Secondary button 40 </span>
                          </button>
                        </div>

                        <div>
                          <button
                            class="button button--secondary button-icon button-icon--prev pressed"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary button-icon button-icon--next pressed"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary button-icon button-icon--circle button-icon--prev pressed"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary button-icon button-icon--circle button-icon--next pressed"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>

                      <td>
                        <div>
                          <button disabled class="button button--secondary" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> Secondary button 40 </span>
                          </button>
                        </div>

                        <div>
                          <button
                            disabled
                            class="button button--secondary button-icon button-icon--prev"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            disabled
                            class="button button--secondary button-icon button-icon--next"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            disabled
                            class="button button--secondary button-icon button-icon--circle button-icon--prev"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            disabled
                            class="button button--secondary button-icon button-icon--circle button-icon--next"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td> Secondary button 2 </td>

                      <td>
                        <div>
                          <button class="button button--secondary-2" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> Secondary button 2 40 </span>
                          </button>
                        </div>

                        <div>
                          <button
                            class="button button--secondary-2 button-icon button-icon--prev"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary-2 button-icon button-icon--next"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary-2 button-icon button-icon--circle button-icon--prev"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary-2 button-icon button-icon--circle button-icon--next"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>

                      <td>
                        <div>
                          <button class="button button--secondary-2 hover" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> Secondary button 2 40 </span>
                          </button>
                        </div>

                        <div>
                          <button
                            class="button button--secondary-2 button-icon button-icon--prev hover"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary-2 button-icon button-icon--next hover"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary-2 button-icon button-icon--circle button-icon--prev hover"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary-2 button-icon button-icon--circle button-icon--next hover"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>

                      <td>
                        <div>
                          <button class="button button--secondary-2 pressed" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> Secondary button 2 40 </span>
                          </button>
                        </div>

                        <div>
                          <button
                            class="button button--secondary-2 button-icon button-icon--prev pressed"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary-2 button-icon button-icon--next pressed"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary-2 button-icon button-icon--circle button-icon--prev pressed"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary-2 button-icon button-icon--circle button-icon--next pressed"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>

                      <td>
                        <div>
                          <button disabled class="button button--secondary-2" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> Secondary button 2 40 </span>
                          </button>
                        </div>

                        <div>
                          <button
                            disabled
                            class="button button--secondary-2 button-icon button-icon--prev"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            disabled
                            class="button button--secondary-2 button-icon button-icon--next"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            disabled
                            class="button button--secondary-2 button-icon button-icon--circle button-icon--prev"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            disabled
                            class="button button--secondary-2 button-icon button-icon--circle button-icon--next"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td> Secondary button 3 </td>

                      <td>
                        <div>
                          <button class="button button--secondary-3" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> Secondary button 3 40 </span>
                          </button>
                        </div>

                        <div>
                          <button
                            class="button button--secondary-3 button-icon button-icon--prev"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary-3 button-icon button-icon--next"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary-3 button-icon button-icon--circle button-icon--prev"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary-3 button-icon button-icon--circle button-icon--next"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>

                      <td>
                        <div>
                          <button class="button button--secondary-3 hover" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> Secondary button 3 40 </span>
                          </button>
                        </div>

                        <div>
                          <button
                            class="button button--secondary-3 button-icon button-icon--prev hover"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary-3 button-icon button-icon--next hover"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary-3 button-icon button-icon--circle button-icon--prev hover"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary-3 button-icon button-icon--circle button-icon--next hover"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>

                      <td>
                        <div>
                          <button class="button button--secondary-3 pressed" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> Secondary button 3 40 </span>
                          </button>
                        </div>

                        <div>
                          <button
                            class="button button--secondary-3 button-icon button-icon--prev pressed"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary-3 button-icon button-icon--next pressed"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary-3 button-icon button-icon--circle button-icon--prev pressed"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--secondary-3 button-icon button-icon--circle button-icon--next pressed"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>

                      <td>
                        <div>
                          <button disabled class="button button--secondary-3" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> Secondary button 3 40 </span>
                          </button>
                        </div>

                        <div>
                          <button
                            disabled
                            class="button button--secondary-3 button-icon button-icon--prev"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            disabled
                            class="button button--secondary-3 button-icon button-icon--next"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            disabled
                            class="button button--secondary-3 button-icon button-icon--circle button-icon--prev"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            disabled
                            class="button button--secondary-3 button-icon button-icon--circle button-icon--next"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td> Flat button </td>

                      <td>
                        <div>
                          <button class="button button--flat" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> Flat button 40 </span>
                          </button>
                        </div>

                        <div>
                          <button
                            class="button button--flat button-icon button-icon--prev"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--flat button-icon button-icon--next"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>

                      <td>
                        <div>
                          <button class="button button--flat hover" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> Flat button 40 </span>
                          </button>
                        </div>

                        <div>
                          <button
                            class="button button--flat button-icon button-icon--prev hover"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--flat button-icon button-icon--next hover"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>

                      <td>
                        <div>
                          <button class="button button--flat pressed" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> Flat button 40 </span>
                          </button>
                        </div>

                        <div>
                          <button
                            class="button button--flat button-icon button-icon--prev pressed"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--flat button-icon button-icon--next pressed"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>

                      <td>
                        <div>
                          <button disabled class="button button--flat" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> Flat button 40 </span>
                          </button>
                        </div>

                        <div>
                          <button
                            disabled
                            class="button button--flat button-icon button-icon--prev"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            disabled
                            class="button button--flat button-icon button-icon--next"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td> Flat button 2 </td>

                      <td>
                        <div>
                          <button class="button button--flat-2" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> Flat button 2 40 </span>
                          </button>
                        </div>

                        <div>
                          <button
                            class="button button--flat-2 button-icon button-icon--prev"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--flat-2 button-icon button-icon--next"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>

                      <td>
                        <div>
                          <button class="button button--flat-2 hover" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> Flat button 2 40 </span>
                          </button>
                        </div>

                        <div>
                          <button
                            class="button button--flat-2 button-icon button-icon--prev hover"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--flat-2 button-icon button-icon--next hover"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>

                      <td>
                        <div>
                          <button class="button button--flat-2 pressed" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> Flat button 2 40 </span>
                          </button>
                        </div>

                        <div>
                          <button
                            class="button button--flat-2 button-icon button-icon--prev pressed"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            class="button button--flat-2 button-icon button-icon--next pressed"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>

                      <td>
                        <div>
                          <button disabled class="button button--flat-2" type="button">
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>

                            <span> Flat button 2 40 </span>
                          </button>
                        </div>

                        <div>
                          <button
                            disabled
                            class="button button--flat-2 button-icon button-icon--prev"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>

                          <button
                            disabled
                            class="button button--flat-2 button-icon button-icon--next"
                            type="button"
                          >
                            <svg>
                              <use xlink:href="svg/sprite.svg#arrow-right"></use>
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- ./ End of buttons -->
            </div>
          </div>
        </section>
      </main>

      {{> layouts/footer }}
    </div>

    {{> layouts/modals }}
  </body>
</html>
