.hero {
  &__wrapper {
    position: relative;
    padding: 60px 0 70px;

    @include min-width($breakpoint-xs) {
      padding: 90px 0 100px;
    }

    @include min-width($breakpoint-md) {
      padding: 102px 0 202px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 400px;
    margin-top: var(--header-height);

    @include min-width($breakpoint-xs) {
      gap: 80px;
      max-width: 500px;
    }

    @include min-width($breakpoint-sm + 1) {
      max-width: 780px;
    }
  }

  &__about {
    margin-top: 7px;
    font-size: 18px;

    @include min-width($breakpoint-xs) {
      font-size: 20px;
    }
  }

  &__about-head {
    font-weight: 700;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 10px;
  }

  &__list-item {
    $padding-width-native: 24px;

    --padding-width: #{$padding-width-native};

    position: relative;
    padding-left: var(--padding-width);

    &::before {
      $width-native: 6px;

      --width: #{$width-native};

      position: absolute;
      top: 12px;
      left: calc((var(--padding-width) / 2) - (var(--width) / 2));
      z-index: 0;
      width: var(--width);
      height: 2px;
      content: '';
      background-color: $black-bg;
    }
  }

  &__buttons {
    display: flex;
    gap: 30px;
    align-items: center;
  }
}
