button {
  cursor: pointer;
}

.button {
  $color: $white-text;
  $color-hover: $white-text;
  $color-pressed: $white-text;
  $color-disabled: $gray-bg-1;
  $bg-color: $blue-bg;
  $bg-color-hover: lighten($blue-1-native, 5%);
  $bg-color-pressed: $blue-bg;
  $bg-color-disabled: $gray-3;
  $border-color: $white;
  $border-color-hover: $white;
  $border-color-pressed: $white;
  $border-color-disabled: $white;
  $outline-color: $white;
  //
  $border-width: #{$button-border-width};
  $border-radius: #{$button-border-radius};
  $font-size: #{$button-font-size};
  $font-weight: #{$button-font-weight};
  $line-height: #{$button-line-height};
  $padding-y: #{$button-padding-y};
  $padding-x: #{$button-padding-x};
  $min-width: #{$button-min-width};
  $font-family: $main-font;
  //
  $icon-size: $line-height;

  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: $min-width;
  padding: $padding-y $padding-x;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
  text-align: center;
  text-decoration: none;
  background-color: $bg-color;
  border-color: $border-color;
  border-style: solid;
  border-width: $border-width;
  border-radius: $border-radius;
  transition-timing-function: $transition-timing-function;
  transition-duration: $transition-duration;

  @media (hover) {
    &:hover,
    &.hover {
      color: $color-hover;
      background-color: $bg-color-hover;
      border-color: $border-color-hover;
    }
  }

  &:focus-visible,
  &.focus-visible {
    outline-color: $border-color-hover;
  }

  &:active,
  &.pressed {
    color: $color-pressed;
    background-color: $bg-color-pressed;
    border-color: $border-color-pressed;
  }

  &:disabled,
  &[disabled],
  &.disabled {
    color: $color-disabled;
    pointer-events: none;
    cursor: default;
    background-color: $bg-color-disabled;
    border-color: $border-color-disabled;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: initial;
      cursor: default;
      content: '';
    }
  }

  &--medium {
    width: 100%;
    max-width: 183px;
  }

  &--white {
    $bg-color: $white-bg;
    $color: $gray-text-1;
    $color-hover: $gray-text-1;
    $bg-color-hover: lighten($gray-3-native, 45%);

    color: $color;
    background-color: $bg-color;
    border-color: $gray-3;

    @media (hover) {
      &:hover,
      &.hover {
        color: $color-hover;
        background-color: $bg-color-hover;
        border-color: $gray-3;
      }
    }
  }

  &--null {
    min-width: auto;
    padding: 0;
    margin: 0;
    color: $black;
    background: transparent;
    border: 0;
    border-radius: 0;
    outline: none;

    @media (hover) {
      &:hover,
      &.hover {
        color: inherit;
        background-color: transparent;
        border: 0;
        outline: none;
      }
    }

    &:focus-visible,
    &.focus-visible,
    &:active,
    &.pressed,
    &:disabled,
    &[disabled],
    &.disabled {
      color: inherit;
      background-color: transparent;
      border: 0;
      outline: none;
    }

    &:disabled,
    &[disabled],
    &.disabled {
      pointer-events: none;
      cursor: default;
    }
  }
}
